# Calculate format=kde link=/usr/share/applications/eom.desktop name=calculate-imageview.desktop mirror pkg(media-gfx/eom)!=

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
