# Calculate format=openrc name=.config ini(kernel.os_broadcom-sta)==on

#### For details see the net-wireless/broadcom-sta ebuild
## CONFIG_CHECK
CONFIG_B43=n
CONFIG_SSB=n

## CONFIG_CHECK2
#?pkg(sys-kernel/calculate-sources)>=2.6.29#
CONFIG_LIB80211=m
CONFIG_MAC80211=n
CONFIG_LIB80211_CRYPT_TKIP=m
#pkg#

#?pkg(sys-kernel/calculate-sources)<2.6.29#
CONFIG_IEEE80211=y
CONFIG_IEEE80211_CRYPT_TKIP=y
#pkg#

#?pkg(sys-kernel/calculate-sources)<2.6.32&&pkg(sys-kernel/calculate-sources)>=2.6.29#
CONFIG_WIRELESS_EXT=y
#pkg#

#?pkg(sys-kernel/calculate-sources)<2.6.31&&pkg(sys-kernel/calculate-sources)>=2.6.29#
CONFIG_COMPAT_NET_DEV_OPS=y
#pkg#

#?pkg(sys-kernel/calculate-sources)>=2.6.32#
CONFIG_CFG80211=m
#pkg#

#?pkg(sys-kernel/calculate-sources)>=3.8.8#
#?os_linux_system==desktop#
CONFIG_PREEMPT_NONE=n
CONFIG_PREEMPT_VOLUNTARY=y
#os_linux_system#
#?os_linux_system==server#
CONFIG_PREEMPT_NONE=y
CONFIG_PREEMPT_VOLUNTARY=n
#os_linux_system#
CONFIG_PREEMPT=n
CONFIG_PREEMPT_RCU=n
#pkg#
