# Calculate format=openrc name=.config main.os_arch_machine==i686

#?ini(kernel.os_kernel_highmem)==64G#
CONFIG_NOHIGHMEM=n
CONFIG_HIGHMEM4G=n
CONFIG_HIGHMEM64G=y
CONFIG_X86_PAE=y
#ini#

#?ini(kernel.os_kernel_highmem)==no#
CONFIG_NOHIGHMEM=y
CONFIG_HIGHMEM4G=n
CONFIG_HIGHMEM64G=n
CONFIG_X86_PAE=y
#ini#

#?in(kernel.os_kernel_highmem,4G,'')#
CONFIG_NOHIGHMEM=n
CONFIG_HIGHMEM4G=y
CONFIG_HIGHMEM64G=n
CONFIG_X86_PAE=n
#in#
