# Calculate format=openrc name=.config os_arch_machine==i686

## Configure HIGHMEM

#?ini(kernel.os_kernel_highmem)==64G#
CONFIG_NOHIGHMEM=n
CONFIG_HIGHMEM4G=n
CONFIG_HIGHMEM64G=y
CONFIG_X86_PAE=y
#ini#

#?ini(kernel.os_kernel_highmem)==no#
CONFIG_NOHIGHMEM=y
CONFIG_HIGHMEM4G=n
CONFIG_HIGHMEM64G=n
CONFIG_X86_PAE=y
#ini#
