# Calculate format=openrc name=.config ini(ver.powertop)!=

## Переменная ver.powertop устанавливается автоматически, если устанавливается
##  sys-power/powertop
## Если этот пакет пока не установлен, но вы хотите чтоб в ядре были включены
##  необходимые параметры - вручную пропишите в файле /etc/calculate/ini.env следующее:
## ...
## [ver]
## ...
## powertop = on
##

CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_FS=y
CONFIG_TRACEPOINTS=y
CONFIG_FTRACE=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_TRACING=y
