# Calculate format=openrc name=.config os_arch_machine==i686 ini(kernel.family)!=M486 ini(kernel.family)!=M586 ini(kernel.family)!=M586TSC ini(kernel.family)!=M586MMX ini(kernel.family)!=MPENTIUMII ini(kernel.family)!=MPENTIUMIII ini(kernel.family)!=MPENTIUMM ini(kernel.family)!=MPENTIUM4 ini(kernel.family)!=MK6 ini(kernel.family)!=MK7 ini(kernel.family)!=MK8 ini(kernel.family)!=MCRUSOE ini(kernel.family)!=MEFFICEON ini(kernel.family)!=MWINCHIPC6 ini(kernel.family)!=MWINCHIP3D ini(kernel.family)!=MELAN ini(kernel.family)!=MGEODEGX1 ini(kernel.family)!=MGEODE_LX ini(kernel.family)!=MCYRIXIII ini(kernel.family)!=MVIAC3_2 ini(kernel.family)!=MVIAC7 ini(kernel.family)!=MCORE2 ini(kernel.family)!=MATOM

CONFIG_M686=y
CONFIG_M486=n
CONFIG_M586=n
CONFIG_M586TSC=n
CONFIG_M586MMX=n
CONFIG_MPENTIUMII=n
CONFIG_MPENTIUMIII=n
CONFIG_MPENTIUMM=n
CONFIG_MPENTIUM4=n
CONFIG_MK6=n
CONFIG_MK7=n
CONFIG_MK8=n
CONFIG_MCRUSOE=n
CONFIG_MEFFICEON=n
CONFIG_MWINCHIPC6=n
CONFIG_MWINCHIP3D=n
CONFIG_MELAN=n
CONFIG_MGEODEGX1=n
CONFIG_MGEODE_LX=n
CONFIG_MCYRIXIII=n
CONFIG_MVIAC3_2=n
CONFIG_MVIAC7=n
CONFIG_MCORE2=n
CONFIG_MATOM=n
