# Calculate format=openrc name=.config os_arch_machine==i686 ini(kernel.family)==MVIAC3_2

# CONFIG_LOCALVERSION=".i686.MVIAC3_2"
CONFIG_M686=n
CONFIG_M486=n
CONFIG_M586=n
CONFIG_M586TSC=n
CONFIG_M586MMX=n
CONFIG_MPENTIUMII=n
CONFIG_MPENTIUMIII=n
CONFIG_MPENTIUMM=n
CONFIG_MPENTIUM4=n
CONFIG_MK6=n
CONFIG_MK7=n
CONFIG_MK8=n
CONFIG_MCRUSOE=n
CONFIG_MEFFICEON=n
CONFIG_MWINCHIPC6=n
CONFIG_MWINCHIP3D=n
CONFIG_MELAN=n
CONFIG_MGEODEGX1=n
CONFIG_MGEODE_LX=n
CONFIG_MCYRIXIII=n
CONFIG_MVIAC3_2=y
CONFIG_MVIAC7=n
CONFIG_MCORE2=n
CONFIG_MATOM=n
