# Calculate append=skip

# format=openrc name=.config ini(kernel.family)!= os_arch_machine==x86_64 in(kernel.family,GENERIC_CPU,MATOM,MCORE2,MPSC,MK8)!=

## не работает. ошибка: переменная kernel.family не существует
## TODO: разобраться с ошибкой in(kernel.family,...). Удалить шаблоны формата i686.<FAM>.config

CONFIG_MK8=n
CONFIG_MPSC=n
CONFIG_MCORE2=n
CONFIG_MATOM=n
CONFIG_GENERIC_CPU=n
CONFIG_#-ini(kernel.family)-#=y
