# Calculate format=kde link=/usr/share/applications/gparted.desktop mirror os_root_type==livecd chmod=0755
[Desktop Entry]
Exec=gksudo /usr/sbin/gparted %f
!OnlyShowIn=
