# Calculate chmod=700
#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Dconfigure
Comment=Предварительная настройка приложений через dconf
Icon=dconf-editor
Exec=sh -c 'for f in ~/.dconfigure.d/*; do [ -f "$f" -a -x "$f" ] && "$f"; chmod -x "$f"; done'
Terminal=false
Type=Application
Hidden=false
